nav
{
	background-color: #FFF !important;	
}

#header
{
	background-color: #FFF;
	height: 100%;
}

#header ul li a
{
	color: #434343;
}

#header ul li a:hover
{
	background-color: #d22533;
	color: white;
}

.navbar-header
{
	/*margin-top: 10px;*/
}

.navbar .container 
{ 
	/*height: 65px; */
}

.navbar-brand
{
	margin-top: 0px;
	padding: 0px !important;
}

.navbar
{
	margin-bottom:0px !important;
}

#logo img
{
	padding-top: 3px;
	width: 65px;
}

#banner
{
	margin-top: 0px;
}

#banner img
{
	width: 100%;
}

#no1Img
{
	padding-top: 10px;
	text-align: center;
}

#no1
{
	text-align: center;
	padding-bottom: 20px;
}

.desktopBadge
{
	padding-top: 20px;
}

#mobileBadge
{
	margin-top: 20px;
}

.badgeDes
{
	font-weight: bold;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.title
{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}

#profile
{
	background-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
}




@media (max-width:768px){
	height: auto;
}