@font-face
{
	font-family: sdFont;
	src: url(../fonts/MyriadPro-Regular.otf);
}

@font-face
{
	font-family: sdFont;
	src: url(../fonts/MyriadPro-Bold.otf);
	font-weight: bold;
}

@font-face
{
	font-family: titleFont;
	src: url(../fonts/LeagueGothic-Regular.otf);
}


body
{
	font-family: sdFont !important;
}

nav
{
	background-color: #FFF !important;	
}

#header
{
	background-color: #FFF;
	height: 100%;
}

#header ul li a
{
	color: #434343;
}

#header ul li a:hover
{
	background-color: #d22533;
	color: white;
}

.navbar-header
{
	/*margin-top: 10px;*/
}

.navbar .container 
{ 
	/*height: 65px; */
}

.navbar-brand
{
	margin-top: 0px;
	padding: 0px !important;
}

.navbar
{
	margin-bottom:0px !important;
}

#logo img
{
	padding-top: 3px;
	width: 65px;
}

#banner
{
	margin-top: 0px;
}

#banner img
{
	width: 100%;
}

.bannercontainer
{
	width:auto !important;
	position:relative;
	padding:0;
	max-height:500px !important;
	overflow:hidden !important;
}

.fixedCaption
{
	position: absolute;
}

#no1Img
{
	padding-top: 10px;
	text-align: center;
}

#no1
{
	text-align: center;
	padding-bottom: 20px;
}

.desktopBadge
{
	width: 100%;
	padding-top: 20px;
}

#mobileBadge
{
	margin-top: 20px;
}

.badgeDes
{
	font-weight: bold;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
}

#clients
{
	text-align: center;
}

.title
{
	font-family: titleFont;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 20px;
}

#profile, #clients, #about, #awards, #contact
{
	padding-top: 20px;
	padding-bottom: 40px;
}

.og-details a.appStore
{
	background-image: url("../img/profile/AppStore.png");
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

.og-details a.playStore
{
	background-image: url("../img/profile/android_app_on_play_logo_large.png");
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

.profileAppName
{
	font-family: titleFont;
	font-size: 50px;
}

.og-expander
{
	width: 100%;
}

#about
{
	background-color: #e7e9e3;
}

.video-container 
{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.awardImg
{
	text-align: center;
}

#aboutText
{
	padding-top: 25px;
	font-size: 17px;
	text-align: center;
}

#profile
{
	background-image: url(../img/profileBg.jpg);
	background-size: cover;
}

.white
{
	color: white;
}

.clientsImg img
{
	width: 90%;
}

#footer
{
	background-color: #323130;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}


#map_canvas
{
    width: 100%;  
    height: 500px;
}

#hrEmail
{
	color:#d22533 !important;
}

#hrEmail:hover
{
	text-decoration: none !important;
	color:#aa1f2b;
}

h1
{
	font-family: titleFont !important;
}

p
{
	font-size: 16px;	
}



@media (max-width:768px){
	.clientsImg img
	{
		width: 50%;
	}

	.contactContent
	{
		padding-left: 30px !important;
	}

	#map_canvas
	{
	    width: 100%;  
	    height: 200px;
	}

	#footer
	{
		text-align: center;
		font-size: 13px !important;
	}
}
